<hr>
<table>
  <col width="275">
  <col width="100">
  <tr>
    <td>
      <table>
        <col width="200">
        <col width="30">
      <% @resorts.each do |r| %>
        <tr>
          <td>
            <%= r.name %>
          </td>
          <td align="center">
            <b><%= r.name[0..0] %></b>
          </td>
        </tr>
      <% end %>
      </table>
    </td>
    <td align="center" width="200px">
      <form action="/change_resorts" method="get">
        <input type="hidden" name="username" value=<%= @user.name %>>
        <input type="submit" value="Change Resorts">
      </form>
    </td>
    <td align="center" width="200px">
      <form action="/">
        <input type="submit" value="Change User">
      </form>
    </td>
  </tr>
</table>

<hr>

<table width="1100" height="100%">

<tr align="center">
  
  <td>
  </td>
  <td>
    Today
  </td>
  <td>
    Tomorrow
  </td>
  <td>
    Day 2
  </td>
  <td>
    Day 3
  </td>
  
</tr>

<tr>

  <td>
    <b>Precip Probability</b><br>
    <table>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[7].description}" %>"></td>
        <td>0%</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[8].description}" %>"></td>
        <td>.01%-50%</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[9].description}" %>"></td>
        <td>51%-75%</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[10].description}" %>"></td>
        <td>76%-100%</td>
      </tr>
    </table>
  </td>
  <td>
  <img src=<%= @map_strings["0"]["prob"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["1"]["prob"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["2"]["prob"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["3"]["prob"].url %> />
  </td>

</tr>

<tr>

  <td>
    <b>Precip Type</b><br>
    <table>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[2].description}" %>"></td>
        <td>None</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[1].description}" %>"></td>
        <td>Rain</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[11].description}" %>"></td>
        <td>Sleet</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[0].description}" %>"></td>
        <td>Snow</td>
      </tr>

    </table>
  </td>
  <td>
  <img src=<%= @map_strings["0"]["type"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["1"]["type"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["2"]["type"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["3"]["type"].url %> />
  </td>

</tr>

<tr>

  <td>
    <b>Precip Accumulation</b><br>
    <table>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[3].description}" %>"></td>
        <td>None</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[4].description}" %>"></td>
        <td>Up to 2 in.</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[5].description}" %>"></td>
        <td>2 to 6 in.</td>
      </tr>
      <tr>
        <td style="width:15px;background-color:#<%= "#{@markers[6].description}" %>"></td>
        <td>More than 6 in.</td>
      </tr>
    </table>
  </td>
  <td>
  <img src=<%= @map_strings["0"]["accum"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["1"]["accum"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["2"]["accum"].url %> />
  </td>
  <td>
  <img src=<%= @map_strings["3"]["accum"].url %> />
  </td>

</tr>

</table>

<hr>

<%= line_chart @temp_chart_data, {library: {fontName: "Times New Roman", title: "Temperature", pointSize: 2, hAxis: {format: 'MMM d h a'}, vAxis: {title: "Degrees F"}, colors:["00C","FF3","0C0","C60","39F","060"]}} %>

<%= line_chart @wind_speed_chart_data, {library: {fontName: "Times New Roman", title: "Wind Speed", pointSize: 2, hAxis: {format: 'MMM d h a'}, vAxis: {title: "MPH"}, colors:["00C","FF3","0C0","C60","39F","060"]}} %>

<%= line_chart @cloud_cover_chart_data, {library: {fontName: "Times New Roman", title: "Cloud Cover", pointSize: 2, hAxis: {format: 'MMM d h a'}, vAxis: {title: "Percent", viewWindow: {max: 100, min: 0}}, colors:["00C","FF3","0C0","C60","39F","060"]}} %>


