

<h2>Resort Selection</h2>

<div class="select_resorts">

<% if @surfeit_text %>
  <h3><%= @surfeit_text %></h3>
<% end %>

<h3>Select State:</h3>

<form action="/set_state" method="post">
    <select name="state">
    <% @state_list.each do |s| %>
      <option value= <%= s %> > <%= s %> </option>
    <% end %>
    </select>
    <% if params["surfeit"] %>
      <input type="hidden" name="surfeit" value="yes">
    <% end %>
    <input type="submit" value="Submit">
</form>

<% if @state %>

  <h3 style>Select up to six resorts of interest:</h3>

  <form action="/change_resorts" method="post">

  <% @resort_list.each do |r| %>
    <input type="checkbox" name="<%= r.id %>" value = "r_id"><%=r.name %><br />
    <% end %>
      <br>
      <button type="submit">Submit</button>
      <br>
    </form>
  
<% end %>


  <form action="/">
    <button type="submit">Change User</button>
  </form>
  
</div>