<h2>Administration Page</h2>

<hr>

<div>
<h2>Available Actions:</h2>

<ul>
<li>
  <form action="/admin/add_resort" method="post">
    <b>Add Ski Resort</b> 
    <br>
    Enter resort name: <input type="text" name="addresortname"><br>
    Enter resort longitude (eg -106.06688): 
    <input type="text" name="longitude" min="-180" max="180"><br>
    Enter resort latitude (eg 39.480506):
    <input type="text" name="latitude" min="-90" max="90"><br>
    Enter resort state (eg Colorado):
    <input type="text" name="state"><br>
    
    <input type="submit" value="Add">
    <!-- <input type="hidden" name="change" value="yes"> -->
  </form>
</li>

<div style="height: 25px;"> </div>

<li>
  <form action="/admin/remove_resort" method="post">
    <b>Remove Ski Resort</b>
    <br>
    Select Resort:
    <select name="delresortid">
    <% @resorts.each do |r| %>
      <option value= <%= r.id %> > <%= r.name %>, <%= r.state %> </option>
    <% end %>
    </select><br>
    <!-- <input type="hidden" name="change" value="yes"> -->
    <input type="submit" value="Remove">
  </form>
</li>

<div style="height: 25px;"> </div>

<li>
  <form action="/admin/update_resort" method="post">
    <b>Update Ski Resort Info</b>
    <br>
    Select Resort:
    <select name="updresortid">
    <% @resorts.each do |r| %>
      <option value= <%= r.id %> > <%= r.name %>, <%= r.state %> </option>
    <% end %>
    </select><br>
    New Resort Name: <input type="text" name="newresortname"><br>
    <!-- <input type="hidden" name="change" value="yes"> -->
    <input type="submit" value="Update">
  </form>
</li>

<div style="height: 25px;"> </div>

<li>
  <form action="/admin/display_resorts" method="post">
    <b>Display All Resorts</b>
    <!-- <input type="hidden" name="display" value="yes"> -->
    <!-- <input type="hidden" name="change" value="yes"> -->
    <input type="submit" value="Display">
  </form>
</li>

<div style="height: 25px;"> </div>

<li>
  <form action="/admin/remove_user" method="post">
    <b>Remove User</b>
    <br>
    Select User:
    <select name="deluserid">
    <% @user_list.each do |u| %>
      <option value= <%= u.id %> > <%= u.name %> </option>
    <% end %>
    </select><br>
    <!-- <input type="hidden" name="change" value="yes"> -->
    <input type="submit" value="Remove">
  </form>
</li>

</ul>
</div>

<hr>
<div>
<% if @change %>

  <%= erb :"admin_routes/#{@display.to_s}" %>
  
<% end %>
</div>